# Questão 10

Importando a biblioteca que será utilizada

In [2]:
import pandas as pd

Criando um DataFrame com dados faltantes para apresentar as funções que lidam com dados faltantes

In [9]:
data = {'A': [1, 2, None, 4],
        'B': [4, None, 6, 7],
        'C': [8, 9, 10, None]}
df = pd.DataFrame(data)
df

     A    B     C
0  1.0  4.0   8.0
1  2.0  NaN   9.0
2  NaN  6.0  10.0
3  4.0  7.0   NaN

Esse método verifica quais células contém valores ausentes

- False - Não possui valores ausentes
- True - Possui valores ausentes

In [10]:
display(df.isna())

       A      B      C
0  False  False  False
1  False   True  False
2   True  False  False
3  False  False   True

Esse método preenche os valores faltantes com algum valor (nesse caso foi a média da coluna correspondente ao valor faltante)

In [11]:
media = df.mean()
df_1 = df.fillna(media)
display(df_1)

          A         B     C
0  1.000000  4.000000   8.0
1  2.000000  5.666667   9.0
2  2.333333  6.000000  10.0
3  4.000000  7.000000   9.0

Esse método remove as linhas com valores faltantes

In [12]:
df_sem_nulos = df.dropna()
display(df_sem_nulos)

     A    B    C
0  1.0  4.0  8.0

Esse método preenche os valores ausentes a partir de valores interpolados entre os valores vizinhos

In [13]:
df_2 = df.interpolate()
display(df_2)

     A    B     C
0  1.0  4.0   8.0
1  2.0  5.0   9.0
2  3.0  6.0  10.0
3  4.0  7.0  10.0